{% extends 'index/base.html' %}

{% block content %}

<section class="min-vh-100 mb-8">
    <div class="page-header min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/static/img/curved-images/curved14.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5"> umjiniti</h1>
            <h3 class="text-lead text-white">Network Management System</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

        <div class="row text-center page-section mb-4 p-4" id="services" style="background: linear-gradient(to right, #eab5ac, #8b7da8); border-radius: 10px;">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Service Offerings</h2>
                <p class="section-subheading ">
                    Automate your IT and Network Operations with umjiniti AI-powered solutions.
                </p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <!--<i class="fas fa-circle fa-stack-2x" style="color: #8b7da8 "></i>-->
                    <i class="fas fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">NMSaaS</h4>
                <p class="">
                    Networking monitoring & alerting SaaS for Service Providers and Network Professionals.
                </p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <!--<i class="fas fa-circle fa-stack-2x" style="color: #8b7da8 "></i>-->
                    <i class="fas fa-users-gear fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Automation Workflows</h4>
                <p class="">
                    Pre-built & custom automation workflows to streamline IT and Network Operations. 
                </p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <!--<i class="fas fa-circle fa-stack-2x" style="color: #8b7da8 "></i>-->
                    <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">AI Network Admin Assistant</h4>
                <p class="">
                    24/7 AI-powered network admin assistant to help manage and troubleshoot your IT infrastructure.
                </p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <!--<i class="fas fa-circle fa-stack-2x" style="color: #8b7da8 "></i>-->
                    <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">AI Network Admin Assistant</h4>
                <p class="">
                    24/7 AI-powered network admin assistant to help manage and troubleshoot your IT infrastructure.
                </p>
            </div>
        </div>

        <div class="row page-section mb-4 p-4" id="expertise" style="background: linear-gradient(to right, #8b7da8, #eab5ac); border-radius: 10px;">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Areas of Expertise</h2>
                <p class="section-subheading ">
                    10+ years of industry experience in the following areas: 
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/neteng.jpg') }}" alt="Baugh Consulting  & Lab L.L.C. designs & installs network infrastructure for SMBs and Enterprise." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Network Engineering</div>
                        <div class="portfolio-caption-subheading ">
                            Building resilient, scalable & secure corporate networks with TP-Link Omada and Ubiquiti UniFi products
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/srvradm.jpg') }}" alt="Baugh Consulting  & Lab L.L.C. manages & automates datacenter, on-prem & cloud infrastructure for SMBs and Enterprise." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Network Automation</div>
                        <div class="portfolio-caption-subheading ">
                            Managing & automating datacenter, on-prem and cloud infrastructure
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/fullstack.jpg') }}" alt="Baugh Consulting  & Lab L.L.C. builds, deploys and maintains software for SMBs and Enteprise using the latest methodologies." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Fullstack Development</div>
                        <div class="portfolio-caption-subheading ">
                            Building, deploying & maintaining secure web and mobile applications
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/foss.jpg') }}" alt="Baugh Consulting  & Lab L.L.C. leverages free & open source technology to deploy, upgrade & modernize SMB & Enterprise IT infrastructure." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Open Source for SMBs</div>
                        <div class="portfolio-caption-subheading ">
                            Deploying, upgrading & modernizing IT infrastructure with free & open source technology
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/sdn.jpg') }}" alt="Baugh Consulting & Lab L.L.C. builds resilient, scalable & secure networks with Ubiquiti UniFi & TP-Link Omada products." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Ubiquiti UniFi & TP-Link Omada</div>
                        <div class="portfolio-caption-subheading ">
                            Providing Ubiquiti UniFi & TP-Link Omada consulting & support services
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/bcl/expertise/surveillance.jpg') }}" alt="Baugh Consulting & Lab L.L.C. deploys surveillance and physical security systems with Ubiquiti UniFi products." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Surveillance & Security System Installation</div>
                        <div class="portfolio-caption-subheading ">
                            Deploying surveillance and physical security systems with Ubiquiti UniFi
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-section mb-4 p-4" id="contact" style="background: linear-gradient(to right, #eab5ac, #8b7da8); border-radius: 10px;">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact</h2>
                <p class="section-subheading ">Interested in working with Baugh Consulting & Lab L.L.C.?</p>
            </div>
            
            
        </div>

    </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Explore
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Graphic Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Finish
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Identity
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Lines
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Branding
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Southwest
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Website Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='img/bcl/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro ">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Window
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Photography
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}