{% extends 'app/base.html' %}

{% set hide_sidebar = true %}

{% block content %}
<style>
  .modal {
    z-index: 2050 !important;
  }
</style>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>All Alerts</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="row mb-3">
            {% for message in chats.values() %}
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
              <div class="card card-blog card-plain">
                <div class="position-relative">
                  <a class="d-block">
                    <img src="{{ url_for('static', filename='img/bcl/' + message.type + '.svg') }}" alt="img-blur-shadow"
                        class="img-fluid shadow border-radius-md"/>
                  </a>
                </div>
                <div class="card-body px-1 pb-0">
                  <a >
                    <h5 class="font-weight-bolder">
                      {{ message.type }}
                    </h5>
                  </a>
                  <p class="mb-4 text-sm">
                    {{ message.timestamp }}
                  </p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="input-group mb-3">
                      <button class="btn btn-outline-primary btn-sm mb-0 chat-details-btn" 
                      data-usr="{{ message.usr_msg }}" 
                      data-agent="{{ message.agent_msg }}">
                        View Details
                      </button>
                      <button type="button" class="btn btn-outline-danger btn-sm mb-0 chat-convert-btn">
                        Convert to Task
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chatDetailsModal" tabindex="-1" aria-labelledby="chatDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatDetailsModalLabel">Chat Details</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="terminal-container mb-4">
          <div class="window-bar">
            <div class="window-buttons">
              <div class="window-button close"></div>
              <div class="window-button minimize"></div>
              <div class="window-button maximize"></div>
            </div>
          </div>
          <div class="terminal" id="terminal-output">
            <p class="form-text">User Inquiry: <br> <code id="chat-usr-msg"></code><br></p>
            <p class="form-text">SmartBot Response: <br> <code id="chat-agent-msg"></code><br></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chatConvertModal" tabindex="-1" aria-labelledby="chatConvertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatConvertModalLabel">Convert to Task</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="chat-convert-msg"></p>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="chat-convert-init">Convert</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  const chatConversionButtons = document.querySelectorAll(".chat-convert-btn");
  const chatDetailsButtons = document.querySelectorAll(".chat-details-btn");
  const chatDetailsModal = new bootstrap.Modal(document.getElementById('chatDetailsModal'));
  const chatConvertModal = new bootstrap.Modal(document.getElementById('chatConvertModal'));

  chatDetailsButtons.forEach(btn => {
    btn.addEventListener("click", (e) => {
      e.stopPropagation(); // prevent row click selection (if undesired)
      const msg = btn.dataset.usr || '';
      const response = btn.dataset.agent || '';
      // Fill modal fields
      document.getElementById('chat-usr-msg').textContent = `User Inquiry: \n${msg}`;
      document.getElementById('chat-agent-msg').textContent = `SmartBot Response: \n${response}`;

      chatDetailsModal.show();
    });
  });

  chatConversionButtons.forEach(btn => {
    btn.addEventListener("click", (e) => {
      e.stopPropagation(); // prevent row click selection (if undesired)
      const msg = btn.dataset.msg || '';
      // Fill modal fields
      document.getElementById('chat-convert-msg').textContent = `Are you sure you want to convert the chat to a task: ${msg}`;
      chatConvertModal.show();
    });
  });
</script>
{% endblock %}