{% extends 'app/base.html' %}

{% block content %}
<style>
  .modal {
    z-index: 2050 !important;
  }
</style>
<div class="container-fluid py-4">
   <!--<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/drawflow.min.js') }}" ></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>-->
  <script src="{{ url_for('static', filename='js/font-awesome-513.min.js') }}" ></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />-->
  <link href="{{ url_for('static', filename='css/font-awesome-513.min.css') }}" rel="stylesheet" />
  <!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->
  <link href="{{ url_for('static', filename='css/google-font-apis.min.css') }}" rel="stylesheet" />
  <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>-->
  <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" ></script>
  <!--<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/micromodal.min.js') }}" ></script>

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>All Flows</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0" id="flowTable">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Assigned Probe</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                {% for flow in flows.values() %}
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="{{ url_for('static', filename='img/bcl/workflow.svg') }}" class="avatar avatar-sm rounded-circle"/>
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ flow.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ flow.probe }}</p>
                  </td>
                  <td>
                      <div class="input-group mb-3">
                        <button type="button" class="btn btn-sm btn-info ms-2 flow-run-btn"
                            data-id="{{ flow.id|e }}"
                            data-name="{{ flow.name }}"
                            data-probe="{{ flow.probe|e }}">
                          Run
                        </button>
                        <button type="button" class="btn btn-sm btn-dark ms-2 flow-edit-btn"
                            data-id="{{ flow.id|e }}"
                            data-name="{{ flow.name }}"
                            data-probe="{{ flow.probe|e }}">
                          Edit
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ms-2 flow-schedule-btn"
                            data-id="{{ flow.id|e }}"
                            data-name="{{ flow.name }}"
                            data-probe="{{ flow.probe|e }}">
                          Schedule
                        </button>
                        <button class="btn btn-sm btn-outline-danger ms-2 flow-delete-btn"
                            data-id="{{ flow.id|e }}"
                            data-name="{{ flow.name }}"
                            data-probe="{{ flow.probe|e }}">
                          Delete
                        </button>
                      </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flowRunModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="runFlowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="runFlowModalLabel">Run Flow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="form-text" id="run-flow-text">Are you sure you want to run this flow?</p>
        <div id="flow-run-id-holder"></div>
        <div id="flow-run-probe-holder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="run-flow">Run</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flowEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editFlowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFlowModalLabel">Edit Flow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="wrapper">
          <div class="col">
          </div>
          <div class="col-right">
            <div class="menu">
              <ul>
                <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      Add Action Node
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="slack"><i class="fab fa-slack"></i>Slack Alert</div></li>
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="jsm"><i class="fab fa-telegram"></i>Jira Service Management Alert</div></li>
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="email">Email Alert</div></li>
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="speedtest"><i class="fas fa-code-branch"></i>Network Speedtest</div></li>
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="traceroute"><i class="fas fa-fill"></i>Traceroute</div></li>
                      <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="traceroute_dns"><i class="fas fa-mouse"></i>DNS Traceroute</div></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="probeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      Add Probe Action Node
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="probeDropdown">
                      {% for probe in all_probes.values() %}
                        <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="{{ probe.db_id }}" value="{{ probe.db_id }}"><i class="fas fa-mouse"></i> {{ probe.name }}</div></li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div id="edit-drawflow" style="background-color: gray;" ondrop="drop(event)" ondragover="allowDrop(event)">
              <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
              <div class="btn-lock">
                <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
                <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
              </div>
              <div class="bar-zoom">
                <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
                <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
                <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="flow-edit-id-holder"></div>
        <div id="flow-edit-probe-holder"></div>
        <div id="flow-edit-name-holder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-flow">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flowScheduleModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scheduleFlowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleFlowModalLabel">Schedule Flow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <div class="form-floating mb-3">
            <h6 class="form-label bold">Flow Automation Settings</h6>
            <div id="flow-schedule-id-holder"></div>
            <div id="flow-schedule-probe-holder"></div>
            <div class="row mb-3">
              <div class="col-12">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="llmAnalysisSwitch">
                  <label class="form-check-label" for="llmAnalysisSwitch">Enable LLM Analysis</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <h6 class="form-label bold">Flow Run Schedule</h6>
            <p class="form-text">Use the fields below to set up a custom schedule for the selected flow. Enter times ascomma-separated values or ranges.</p>
            <div class="row mb-3">
                <div class="col-12">
                  <label class="form-label">Choose day(s) of week to run flow. Available values: 0 (Sunday) to 6 (Saturday).</label>
                  <input class="form-control" type="text" id="task-days">
                  <div class="form-text">To run every Sunday, Wednesday and Saturday enter as such: 0,3,6.</div>
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                  <label class="form-label">Choose minute(s) to run flow. Available values: 0 to 59.</label>
                  <input class="form-control" type="text" id="task-minutes">
                  <div class="form-text">For specific intervals, enter start,end,interval (e.g., 5,50,5). The flow would run every 5 minutes from 5 to 50. </div> 
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                  <label class="form-label">Choose day(s) of month to run flow. Available values: 1 to 31.</label>
                  <input class="form-control" type="text" id="task-dom">
                  <div class="form-text">For specific intervals, enter start,end,interval (e.g., 1,31,1). The flow would run every day from 1 to 31. </div> 
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                  <label class="form-label">Choose month(s) to run flow. Available values: 1 to 12.</label>
                  <input class="form-control" type="text" id="task-months">
                  <div class="form-text">For specific intervals, enter start,end,interval (e.g., 1,12,1). The flow would run every month from January to December. </div> 
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                  <label class="form-label">Choose hour(s) to run flow. Available values: 0 to 23.</label>
                  <input class="form-control" type="text" id="task-hours">
                  <div class="form-text">For specific intervals, enter start,end,interval (e.g., 0,23,1). The flow would run every hour from 0 to 23. </div> 
                </div>  
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="schedule-flow">Schedule</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flowDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteFlowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteFlowModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="form-text" id="delete-flow-text">Are you sure you want to delete this flow?</p>
        <div id="flow-delete-id-holder"></div>
        <div id="flow-delete-probe-holder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="delete-flow">Delete</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  const mntrURL = "{{ mntr_url }}";
  const user = "{{ user }}";
  const jwtToken = "{{ jwt_token }}";
  const curUser = "{{ cur_usr }}";
  const notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'), {});

  var id = document.getElementById("edit-drawflow");
  const editor = new Drawflow(id);
  editor.reroute = true;
    
  editor.start();

  /* Mouse and Touch Actions */

  var elements = document.getElementsByClassName('drag-drawflow');
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('touchend', drop, false);
      elements[i].addEventListener('touchmove', positionMobile, false);
      elements[i].addEventListener('touchstart', drag, false );
  }

  var mobile_item_selec = '';
  var mobile_last_move = null;
  function positionMobile(ev) {
     mobile_last_move = ev;
   }

  function allowDrop(ev) {
      ev.preventDefault();
    }

  function drag(ev) {
      if (ev.type === "touchstart") {
        mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
      } else {
      ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }
    }

  function drop(ev) {
      if (ev.type === "touchend") {
        var parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
        if(parentdrawflow != null) {
          addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
        }
        mobile_item_selec = '';
      } else {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("node");
        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }

    }

  function addNodeToDrawFlow(name, pos_x, pos_y) {
      if(editor.editor_mode === 'fixed') {
        return false;
      }
      pos_x = pos_x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)));
      pos_y = pos_y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)));

      switch (name) {
        case 'slack':
          var slackchat = `
           <div>
            <div class="title-box"><i class="fab fa-telegram-plane"></i> Slack Alert</div>
            <div class="box">
              <p>Slack Alert Contact ID</p>
              <input type="text" placeholder="Enter Slack Alert Contact ID..." df-slackid>
            </div>
          </div>
          `;
          data = {type: 'alert', name: name}
          editor.addNode('slack', 1, 0, pos_x, pos_y, 'slack', data, slackchat );
          break;
        case 'jsm':
          var jira = `
          <div>
            <div class="title-box"><i class="fab fa-telegram-plane"></i> Jira Service Management Alert</div>
            <div class="box">
              <p>Jira Alert Contact ID</p>
              <input type="text" placeholder="Enter Jira Alert Contact ID..." df-jiraid>
            </div>
          </div>
          `;
          data = {type: 'alert', name: name}
          editor.addNode('jira', 1, 0, pos_x, pos_y, 'jira', data, jira );
          break;
        case 'email':
          var email = `
          <div>
            <div class="title-box"><i class="fab fa-telegram-plane"></i> Email Alert</div>
            <div class="box">
              <p>Email Alert Contact ID</p>
              <input type="text" placeholder="Enter Email Alert Contact ID..." df-emailid>
              <input type="text" placeholder="Enter Email alert recipient..." df-emailrecipient>
            </div>
          </div>
            `;
          data = {type: 'alert', name: name}
          editor.addNode('email', 1, 0, pos_x, pos_y, 'email', data, email );
          break;
        case 'speedtest':
          var tool = `
            <div style="background-color: #8b7da8;>
              <div class="title-box">Network Speedtest</div>
              <div class="box" style="background-color: #8b7da8;">
                <p>Server settings</p>
                <input type="text" placeholder="Enter IP address of interface to bind to..." df-spdshost>
                <input type="text" placeholder="Enter cmd options if necessary..." df-spdsoptions>
              </div>
            </div>
            `;
          data = {type: 'tool', name: name}
          editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
          break;
        case 'traceroute':
          var tool = `
            <div style="background-color: #8b7da8;>
              <div class="title-box">Traceroute </div>
              <div class="box" style="background-color: #8b7da8;">
                <input type="text" placeholder="Enter target" df-target>
                <input type="text" placeholder="Enter cmd options if necessary" df-options>
                <input type="text" placeholder="Enter preferred packet length if necessary" df-packetlen>
              </div>
            </div>
            `;
          data = {type: 'tool', name: name}
          editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
          break;
        case 'traceroute_dns': 
            var tool = `
            <div style="background-color: #8b7da8;">
              <div class="title-box">DNS Traceroute </div>
              <div class="box" style="background-color: #8b7da8;">
                <input type="text" placeholder="Enter target" df-target>
                <input type="text" placeholder="Enter cmd options if necessary" df-options>
                <input type="text" placeholder="Enter DNS server for test if necessary\n(default 8.8.8.8)" df-server>
              </div>
            </div>
            `;
          data = {type: 'tool', name: name}
          editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
          break;
        default: 
          var mcp = `
            <div style="background-color: #8b7da8;>
              <div class="title-box">Umjiniti Probe </div>
              <div class="box" style="background-color: #8b7da8;">
                <p>select tool</p>
                <select df-mcptool>
                  <option value="iperf_c">Speedtest Client</option>
                  <option value="iperf_s">Speedtest Server</option>
                  <option value="trct_tar">Traceroute Target</option>
                  <option value="dnstrct_tar">DNS Traceroute Target</option>
                </select>
                <p>speedtest server settings</p>
                <input type="text" placeholder="Enter IP address of interface to bind to..." df-spdshost>
                <input type="text" placeholder="Enter cmd options if necessary..." df-spdsoptions>
                <p>speedtest client settings</p>
                <input type="text" placeholder="Enter IP/FQDN of speedtest server if running as client (required)" df-spdcserver>
                <input type="text" placeholder="Enter IP address of interface to bind to..." df-spdchost>
                <input type="text" placeholder="Enter cmd options if necessary..." df-spdcoptions>
                <p>traceroute settings</p>
                <input type="text" placeholder="Enter cmd options if necessary" df-trcoptions>
                <input type="text" placeholder="Set size of the probe packet" df-packetlen>
                <input type="text" placeholder="Enter DNS server for test if necessary (default 8.8.8.8)" df-dnstrcserver>
              </div>
            </div>
            
            `;
          data = {type: 'mcp', name: name}
          editor.addNode(name, 0, 3, pos_x, pos_y, name, data, mcp );
          break;
      }
    }

  var transform = '';
  function showpopup(e) {
    e.target.closest(".drawflow-node").style.zIndex = "9999";
    e.target.children[0].style.display = "block";
    //document.getElementById("modalfix").style.display = "block";

    //e.target.children[0].style.transform = 'translate('+translate.x+'px, '+translate.y+'px)';
    transform = editor.precanvas.style.transform;
    editor.precanvas.style.transform = '';
    editor.precanvas.style.left = editor.canvas_x +'px';
    editor.precanvas.style.top = editor.canvas_y +'px';
    console.log(transform);

    //e.target.children[0].style.top  =  -editor.canvas_y - editor.container.offsetTop +'px';
    //e.target.children[0].style.left  =  -editor.canvas_x  - editor.container.offsetLeft +'px';
    editor.editor_mode = "fixed";

  }

  function closemodal(e) {
     e.target.closest(".drawflow-node").style.zIndex = "2";
     e.target.parentElement.parentElement.style.display  ="none";
     //document.getElementById("modalfix").style.display = "none";
     editor.precanvas.style.transform = transform;
       editor.precanvas.style.left = '0px';
       editor.precanvas.style.top = '0px';
      editor.editor_mode = "edit";
   }

  function changeModule(event) {
      var all = document.querySelectorAll(".menu ul li");
        for (var i = 0; i < all.length; i++) {
          all[i].classList.remove('selected');
        }
      event.target.classList.add('selected');
    }

  function changeMode(option) {

    //console.log(lock.id);
      if(option == 'lock') {
        lock.style.display = 'none';
        unlock.style.display = 'block';
      } else {
        lock.style.display = 'block';
        unlock.style.display = 'none';
      }
    }

  // Modal activation buttons
  const flowRunButton = document.querySelectorAll('.flow-run-btn');
  const flowScheduleButton = document.querySelectorAll('.flow-schedule-btn');
  const flowDeleteButton = document.querySelectorAll('.flow-delete-btn');
  const flowEditButton = document.querySelectorAll('.flow-edit-btn');

  // Modal flow task init buttons
  const runFlowButton = document.getElementById('run-flow');
  const scheduleFlowButton = document.getElementById('schedule-flow');
  const deleteFlowButton = document.getElementById('delete-flow');
  const editFlowButton = document.getElementById('edit-flow');

  // Flow tasks modals
  const flowScheduleModal = new bootstrap.Modal(document.getElementById('flowScheduleModal'));
  const flowDeleteModal = new bootstrap.Modal(document.getElementById('flowDeleteModal'));
  const flowRunModal = new bootstrap.Modal(document.getElementById('flowRunModal'));
  const flowEditModal = new bootstrap.Modal(document.getElementById('flowEditModal'));

  // Modal text and data holders
  const runFlowText = document.getElementById('run-flow-text');
  const deleteFlowText = document.getElementById('delete-flow-text');
  const scheduleFlowLabel = document.getElementById('scheduleFlowModalLabel');
  const runFlowLabel = document.getElementById('runFlowModalLabel');
  const deleteFlowLabel = document.getElementById('deleteFlowModalLabel');

  const flowIdHolder = document.getElementById('flow-id-holder');
  const flowProbeHolder = document.getElementById('flow-probe-holder');
  const flowScheduleIdHolder = document.getElementById('flow-schedule-id-holder');
  const flowScheduleProbeHolder = document.getElementById('flow-schedule-probe-holder');
  const flowDeleteIdHolder = document.getElementById('flow-delete-id-holder');  
  const flowDeleteProbeHolder = document.getElementById('flow-delete-probe-holder');
  const flowEditIdHolder = document.getElementById('flow-edit-id-holder');
  const flowEditProbeHolder = document.getElementById('flow-edit-probe-holder');
  const flowEditNameHolder = document.getElementById('flow-edit-name-holder');

  flowEditModal.addEventListener('shown.bs.modal', async function() {
    // Code to run after the modal is fully shown
    console.log('Modal is fully visible!');

    const id = flowEditIdHolder.dataset.id;
    const probe = flowEditProbeHolder.dataset.probe;
    const name = flowEditNameHolder.dataset.name;
    const payload = { id: id, probe: probe };    
    const resp = await fetch(`https://${mntrURL}/flowload?usr={{ cur_usr }}`, {method:'POST', credentials: "same-origin", body:JSON.stringify(payload)})
    const j = await resp.json()

    if (resp.ok) {
      alert(JSON.stringify(j))
      editor.clearModuleSelected();
      editor.import(j);
      alert('Loaded Flow data');
    }
  });

  document.querySelectorAll('#flowTable tbody tr').forEach(row => {
    row.addEventListener('click', () => {
      document.querySelectorAll('#flowTable tbody tr').forEach(r => {
        r.classList.remove('selected');
        r.style.backgroundColor = '';
      });
      row.classList.add('selected');
      row.style.backgroundColor = 'lightcoral';
    });
  });

  flowRunButton.forEach(button => {
    button.addEventListener('click', (e) => {
      e.stopPropagation()
      const id = button.dataset.id || '';
      const name = button.dataset.name || '';
      const probe = button.dataset.probe || '';
      runFlowText.textContent = `Are you sure you want to run flow '${name}' on probe '${probe}'?`;
      runFlowLabel.textContent = `Run Flow: ${name}`;
      flowIdHolder.dataset.id = id;
      flowProbeHolder.dataset.probe = probe;
      flowRunModal.show();
    });
  });

  flowEditButton.forEach(button => {
    button.addEventListener('click', async (e) => {
      e.stopPropagation()
      const id = button.dataset.id || '';
      const name = button.dataset.name || '';
      const probe = button.dataset.probe || '';
      editFlowLabel.textContent = `Edit Flow: ${name}`;
      flowEditIdHolder.dataset.id = id;
      flowEditProbeHolder.dataset.probe = probe;
      flowEditNameHolder.dataset.name = name;
      flowEditModal.show();
    });
  });

  flowScheduleButton.forEach(button => {
    button.addEventListener('click', (e) => {
      e.stopPropagation()
      const id = button.dataset.id || '';
      const name = button.dataset.name || '';
      const probe = button.dataset.probe || '';
      scheduleFlowLabel.textContent = `Schedule Flow: ${name}`;
      flowScheduleIdHolder.dataset.id = id;
      flowScheduleProbeHolder.dataset.probe = probe;
      flowScheduleModal.show();
    });
  });

  flowDeleteButton.forEach(button => {
    button.addEventListener('click', (e) => {
      e.stopPropagation()
      const id = button.dataset.id || '';
      const name = button.dataset.name || '';
      const probe = button.dataset.probe || '';
      deleteFlowText.textContent = `Are you sure you want to delete flow '${name}' on probe '${probe}'?`;
      deleteFlowLabel.textContent = `Delete Flow: ${name}`;
      flowDeleteIdHolder.dataset.id = id;
      flowDeleteProbeHolder.dataset.probe = probe;
      flowDeleteModal.show();
    });
  });

  runFlowButton.addEventListener('click', async function() {
    const id = flowIdHolder.dataset.id;
    const probe = flowProbeHolder.dataset.probe;
    const payload = { id: id, probe: probe };

    try {
      const resp = await fetch(`https://${mntrURL}/flowrun?usr=${curUser}`, {method: 'POST', credentials: "same-origin", headers: {"Content-Type": "application/json"}, body: JSON.stringify(payload)});

      if (resp.ok) {
        const j = await resp.json()
        alert(`Flow run executed successfully.\n`+JSON.stringify(j));
      } else {
        alert(`Flow run failed.`);
      }
    } catch (err) {
      console.error('Network or server error:', err);
    }
  });

  deleteFlowButton.addEventListener('click', async function() {
    const id = flowDeleteIdHolder.dataset.id;
    const probe = flowDeleteProbeHolder.dataset.probe;
    const payload = { id: id, probe: probe };

    try {
      const resp = await fetch(`https://${mntrURL}/flowdelete?usr=${curUser}`, {method: 'POST', credentials: "same-origin", headers: {"Content-Type": "application/json"}, body: JSON.stringify(payload)});

      if (resp.ok) {
        const j = await resp.json()
        alert(`Flow delete executed successfully.\n`+JSON.stringify(j));
      } else {
        alert(`Flow delete failed.`);
      }
    } catch (err) {
      console.error('Network or server error:', err);
    }
  });

  scheduleFlowButton.addEventListener('click', async function() {
    const id = flowScheduleIdHolder.dataset.id;
    const probe = flowScheduleProbeHolder.dataset.probe;
    const llmAnalysisEnabled = document.getElementById('llmAnalysisSwitch').checked;
    const days = document.getElementById('task-days').value;
    const minutes = document.getElementById('task-minutes').value;
    const dom = document.getElementById('task-dom').value;
    const months = document.getElementById('task-months').value;
    const hours = document.getElementById('task-hours').value;

    const payload = { 
      id: id, 
      probe: probe, 
      llm_analysis: llmAnalysisEnabled,
      schedule: {
        days: days,
        minutes: minutes,
        dom: dom,
        months: months,
        hours: hours
      }
    };

    try {
      const resp = await fetch(`https://${mntrURL}/flowschedule?usr=${curUser}`, {method: 'POST', credentials: "same-origin", headers: {"Content-Type": "application/json"}, body: JSON.stringify(payload)});

      if (resp.ok) {
        const j = await resp.json()
        alert(`Flow scheduling executed successfully.\n`+JSON.stringify(j));
      } else {
        alert(`Flow scheduling failed.`);
      }
    } catch (err) {
      console.error('Network or server error:', err);
    }
  });

  editFlowButton.addEventListener('click', async function() {
    const id = flowEditIdHolder.dataset.id;
    const probe = flowEditProbeHolder.dataset.probe;
    const name  = flowEditNameHolder.dataset.name;

    const data = editor.export();
    alert(savename);
    const flow = JSON.stringify(data, null,4)
    const payload = { id: id, flow: flow, probe: probe, unm: "{{ user }}" , name: name}

    try {
      const resp = await fetch(`https://${mntrURL}/flowedit?usr=${curUser}`, {method: 'POST', credentials: "same-origin", headers: {"Content-Type": "application/json"}, body: JSON.stringify(payload)});

      if (resp.ok) {
        const j = await resp.json()
        alert(`Flow edit executed successfully.\n`+JSON.stringify(j));
      } else {
        alert(`Flow edit failed.`);
      }
    } catch (err) {
      console.error('Network or server error:', err);
    }

    
  });

</script>

{% endblock %}