{% extends 'app/base.html' %}

{% block content %}
<div class="container-fluid py-4">
  <!--<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/drawflow.min.js') }}" ></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>-->
  <script src="{{ url_for('static', filename='js/font-awesome-513.min.js') }}" ></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />-->
  <link href="{{ url_for('static', filename='css/font-awesome-513.min.css') }}" rel="stylesheet" />
  <!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->
  <link href="{{ url_for('static', filename='css/google-font-apis.min.css') }}" rel="stylesheet" />
  <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>-->
  <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" ></script>
  <!--<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/micromodal.min.js') }}" ></script>

  <div class="wrapper">
    <div class="col">
    </div>
    <div class="col-right">
      <div class="menu">
        <ul>
          <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="flowDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select probe flow will run on:
              </button>
              <ul class="dropdown-menu" aria-labelledby="flowDropdown">
                {% for probe in all_probes.values() %}
                  <li>
                    <div class="dropdown-item" value="{{ probe.prb_id }}">Site: {{ probe.site }} | Name: {{ probe.name }}</div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Network Tools
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="slack"><i class="fab fa-slack"></i>Slack Alert</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="jsm"><i class="fab fa-telegram"></i>Jira Service Management Alert</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="email">Email Alert</div></li>
                <li><h6 class="dropdown-header">Probe Endpoints</h6></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="speedtest"><i class="fas fa-code-branch"></i>Network Speedtest</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="traceroute"><i class="fas fa-fill"></i>Traceroute</div></li>
                <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="traceroute_dns"><i class="fas fa-mouse"></i>DNS Traceroute</div></li>
                
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="probeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Remote Probes
              </button>
              <ul class="dropdown-menu" aria-labelledby="probeDropdown">
                {% for probe in all_probes.values() %}
                  <li><div class="dropdown-item drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="{{ probe.prb_id }}" value="{{ probe.prb_id }}"><i class="fas fa-mouse"></i>Site: {{ probe.site }} | Name: {{ probe.name }}</div></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div id="drawflow" style="background-color: gray;" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div id="save-flow" class="btn-export">Export</div>
        <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
        <div class="btn-lock">
          <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
          <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
        </div>
        <div class="bar-zoom">
          <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
          <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
          <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
        </div>
      </div>
    </div>
  </div>

  <script>
    const mntrURL = "{{ mntr_url }}";
    let nodeProbeCounter = 0;
    let currentProbeNodes = {};
    let currentSelectedProbe = null;
    const notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
    var id = document.getElementById("drawflow");
    const editor = new Drawflow(id);
    editor.reroute = true;
    editor.start();
    //editor.import(dataToImport);

    // Events!
    editor.on('nodeCreated', function(id) {
      console.log("Node created " + id);
      currentSelectedProbe = editor.getNodeFromId(id);
      if (currentSelectedProbe.data.type === 'probe') {
        nodeProbeCounter++;
        currentProbeNodes[id] = currentSelectedProbe;
      }
    })

    editor.on('nodeRemoved', function(id) {
      console.log("Node removed " + id);
      if (currentProbeNodes.hasOwnProperty(id)) {
        delete currentProbeNodes[id];
        nodeProbeCounter--;
      }
    })

    editor.on('nodeSelected', function(id) {
      console.log("Node selected " + id);
    })

    editor.on('moduleCreated', function(name) {
      console.log("Module Created " + name);
    })

    editor.on('moduleChanged', function(name) {
      console.log("Module Changed " + name);
    })

    editor.on('connectionCreated', function(connection) {
      console.log('Connection created');
      console.log(connection);
    })

    editor.on('connectionRemoved', function(connection) {
      console.log('Connection removed');
      console.log(connection);
    })

    editor.on('mouseMove', function(position) {
      console.log('Position mouse x:' + position.x + ' y:'+ position.y);
    })

    editor.on('nodeMoved', function(id) {
      console.log("Node moved " + id);
    })

    editor.on('zoom', function(zoom) {
      console.log('Zoom level ' + zoom);
    })

    editor.on('translate', function(position) {
      console.log('Translate x:' + position.x + ' y:'+ position.y);
    })

    editor.on('addReroute', function(id) {
      console.log("Reroute added " + id);
    })

    editor.on('removeReroute', function(id) {
      console.log("Reroute removed " + id);
    })

    /* DRAG EVENT */

    // Track selected flow
    let selectedFlow = null;

    // Add event listeners to dropdown items
    document.querySelectorAll('#flowDropdown + .dropdown-menu .dropdown-item').forEach(item => {
      item.addEventListener('click', function(event) {
        selectedFlow = this.getAttribute('value');
        console.log(selectedFlow);
      });
    });

    /* Mouse and Touch Actions */

    var elements = document.getElementsByClassName('drag-drawflow');
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('touchend', drop, false);
      elements[i].addEventListener('touchmove', positionMobile, false);
      elements[i].addEventListener('touchstart', drag, false );
    }

    var mobile_item_selec = '';
    var mobile_last_move = null;
   function positionMobile(ev) {
     mobile_last_move = ev;
   }

   function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      if (ev.type === "touchstart") {
        mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
      } else {
      ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }
    }

    function drop(ev) {
      if (ev.type === "touchend") {
        var parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
        if(parentdrawflow != null) {
          addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
        }
        mobile_item_selec = '';
      } else {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("node");
        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }

    }

    function addNodeToDrawFlow(name, pos_x, pos_y) {
      if(editor.editor_mode === 'fixed') {
        return false;
      }
      pos_x = pos_x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)));
      pos_y = pos_y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)));

      if (typeof name === "string" && name.startsWith("prb:")) {
        if (nodeProbeCounter === 5) {
          document.getElementById('notificationModalLabel').textContent = "Probe Limit Reached";

          document.getElementById('notif-modal-text').textContent = `You have reached the maximum number of probes allowed. Please remove a probe before adding another one.`;

          notificationModal.show();
          return false;
        } else {
          var probe = `
              <div class="title-box">Remote Probe</div>
              <div class="box" style="background-color: #8b7da8;>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-trace-tab" data-bs-toggle="tab" data-bs-target="#nav-trace" type="button" role="tab" aria-controls="nav-trace" aria-selected="true">Path Trace</button>
                    <button class="nav-link" id="nav-perf-tab" data-bs-toggle="tab" data-bs-target="#nav-perf" type="button" role="tab" aria-controls="nav-perf" aria-selected="false">Performance Test</button>
                    <button class="nav-link" id="nav-scans-tab" data-bs-toggle="tab" data-bs-target="#nav-scans" type="button" role="tab" aria-controls="nav-scans" aria-selected="false">Scans</button>
                    <button class="nav-link" id="nav-pcap-tab" data-bs-toggle="tab" data-bs-target="#nav-pcap" type="button" role="tab" aria-controls="nav-pcap" aria-selected="false">Packet Capture</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-trace" role="tabpanel" aria-labelledby="nav-trace-tab">
                    <form method="post">
                      <div class="form-group mb-3">
                        <label for="tracetool">Select path trace tool:</label>
                        <select class="form-select" id="tracetool" df-tracetool>
                          <option value="trcrt">Traceroute</option>
                          <option value="dnstrcrt">DNS Traceroute</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label for="target">Enter target for path trace:</label>
                            <input type="text" class="form-control" id="target" placeholder="Enter target IP or FQDN..." df-target>
                            
                          </div>
                          <div class="col-6">
                            <label for="dnstrcserver">Enter DNS server for test (optional):</label>
                            <input type="text" placeholder="Enter DNS server for test if necessary (default 8.8.8.8)" df-dnstrcserver>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label for="packetlen">Set size of the probe packet (optional):</label>
                            <input type="text" class="form-control" id="packetlen" placeholder="Enter preferred packet length..." df-packetlen>
                          </div>
                          <div class="col-6">
                            <label for="trcoptions">Enter additional command options (optional):</label>
                            <input type="text" class="form-control" id="trcoptions" placeholder="Enter cmd options if necessary..." df-trcoptions>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-perf" role="tabpanel" aria-labelledby="nav-perf-tab">
                    <form method="post">
                      <div class="form-group mb-3">
                        <label for="perftool">Select performance test tool:</label>
                        <select class="form-select" id="perftool" df-perftool>
                          <option value="speedtest">Network Speedtest</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label for="spdcserver">Enter speedtest server IP/FQDN (required if running as client):</label>
                            <input type="text" class="form-control" id="spdcserver" placeholder="Enter IP/FQDN of speedtest server if running as client (required)" df-spdcserver>
                          </div>
                          <div class="col-6">
                            <label for="spdchost">Enter IP address of interface to bind to (optional):</label>
                            <input type="text" placeholder="Enter IP address of interface to bind to..." df-spdchost>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-scans" role="tabpanel" aria-labelledby="nav-scans-tab">
                    <form method="post">
                      <div class="form-group mb-3">
                        <label for="scantool">Select scan tool:</label>
                        <select class="form-select" id="scantool" df-scantool>
                          <option value="scan_arp">ARP Scan</option>
                          <option value="scan_custom">Custom Scan</option>
                          <option value="scan_dev_id">Device ID Scan</option>
                          <option value="scan_dev_fngr">Device Fingerprint Scan</option>
                          <option value="scan_full">Full Scan</option>
                          <option value="scan_snmp">SNMP Scan</option>
                          <option value="scan_port">Port Scan</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label for="scantarget">Enter target for scan:</label>
                            <input type="text" class="form-control" id="scantarget" placeholder="Enter target IP or FQDN..." df-scantarget>
                          </div>
                          <div class="col-6">
                            <label for="scanoptions">Enter additional command options (optional):</label>
                            <input type="text" class="form-control" id="scanoptions" placeholder="Enter cmd options if necessary..." df-scanoptions>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="row mb-3">
                          <div class="col-6">
                            <label for="devidswitch">Reduce device ID scan noise</label>
                            <select class="form-select" id="devidswitch" df-devidswitch>
                              <option value="on">on</option>
                              <option value="off">off</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <label for="scanportend">Limit device fingerprint scan</label>
                            <select class="form-select" id="fngrscanlimit" df-fngrscanlimit>
                              <option value="on">on</option>
                              <option value="off">off</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="nav-pcap" role="tabpanel" aria-labelledby="nav-pcap-tab">
                    <form method="post">
                      <div class="form-group mb-3">
                        <label for="pcaptool">Select packet capture tool:</label>
                        <select class="form-select" id="pcaptool" df-pcaptool>
                          <option value="tcpdump">Tcpdump</option>
                          <option value="tshark">Tshark</option>
                        </select>
                      </div>
                    </form>
                  </div>              
              </div>
              `;
          data = { type: 'probe', id: name };
          editor.addNode('probe', 0, 3, pos_x, pos_y, 'probe', data, probe);

        }
      } else {
        switch (name) {
          case 'slack':
            var slackchat = `
            <div>
              <div class="title-box"><i class="fab fa-telegram-plane"></i> Slack Alert</div>
              <div class="box">
                <p>Slack Alert Contact ID</p>
                <input type="text" placeholder="Enter Slack Alert Contact ID..." df-slackid>
              </div>
            </div>
            `;
            data = {type: 'alert', name: name}
            editor.addNode('slack', 1, 0, pos_x, pos_y, 'slack', data, slackchat );
            break;
          case 'jsm':
            var jira = `
            <div>
              <div class="title-box"><i class="fab fa-telegram-plane"></i> Jira Service Management Alert</div>
              <div class="box">
                <p>Jira Alert Contact ID</p>
                <input type="text" placeholder="Enter Jira Alert Contact ID..." df-jiraid>
              </div>
            </div>
            `;
            data = {type: 'alert', name: name}
            editor.addNode('jira', 1, 0, pos_x, pos_y, 'jira', data, jira );
            break;
          case 'email':
            var email = `
            <div>
              <div class="title-box"><i class="fab fa-telegram-plane"></i> Email Alert</div>
              <div class="box">
                <p>Email Alert Contact ID</p>
                <input type="text" placeholder="Enter Email Alert Contact ID..." df-emailid>
                <input type="text" placeholder="Enter Email alert recipient..." df-emailrecipient>
              </div>
            </div>
              `;
            data = {type: 'alert', name: name}
            editor.addNode('email', 1, 0, pos_x, pos_y, 'email', data, email );
            break;
          case 'speedtest':
            var tool = `
              <div style="background-color: #8b7da8;>
                <div class="title-box">Network Speedtest</div>
                <div class="box" style="background-color: #8b7da8;">
                  <p>Server settings</p>
                  <input type="text" placeholder="Enter IP address of interface to bind to..." df-spdshost>
                  <input type="text" placeholder="Enter cmd options if necessary..." df-spdsoptions>
                </div>
              </div>
              `;
            data = {type: 'tool', name: name}
            editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
            break;
          case 'traceroute':
            var tool = `
              <div style="background-color: #8b7da8;>
                <div class="title-box">Traceroute </div>
                <div class="box" style="background-color: #8b7da8;">
                  <input type="text" placeholder="Enter target" df-target>
                  <input type="text" placeholder="Enter cmd options if necessary" df-options>
                  <input type="text" placeholder="Enter preferred packet length if necessary" df-packetlen>
                </div>
              </div>
              `;
            data = {type: 'tool', name: name}
            editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
            break;
          case 'traceroute_dns': 
              var tool = `
              <div style="background-color: #8b7da8;">
                <div class="title-box">DNS Traceroute </div>
                <div class="box" style="background-color: #8b7da8;">
                  <input type="text" placeholder="Enter target" df-target>
                  <input type="text" placeholder="Enter cmd options if necessary" df-options>
                  <input type="text" placeholder="Enter DNS server for test if necessary\n(default 8.8.8.8)" df-server>
                </div>
              </div>
              `;
            data = {type: 'tool', name: name}
            editor.addNode(name, 0, 3, pos_x, pos_y, name, data, tool );
            break;
        }

      }
      
    }

  var transform = '';
  function showpopup(e) {
    e.target.closest(".drawflow-node").style.zIndex = "9999";
    e.target.children[0].style.display = "block";
    //document.getElementById("modalfix").style.display = "block";

    //e.target.children[0].style.transform = 'translate('+translate.x+'px, '+translate.y+'px)';
    transform = editor.precanvas.style.transform;
    editor.precanvas.style.transform = '';
    editor.precanvas.style.left = editor.canvas_x +'px';
    editor.precanvas.style.top = editor.canvas_y +'px';
    console.log(transform);

    //e.target.children[0].style.top  =  -editor.canvas_y - editor.container.offsetTop +'px';
    //e.target.children[0].style.left  =  -editor.canvas_x  - editor.container.offsetLeft +'px';
    editor.editor_mode = "fixed";

  }

   function closemodal(e) {
     e.target.closest(".drawflow-node").style.zIndex = "2";
     e.target.parentElement.parentElement.style.display  ="none";
     //document.getElementById("modalfix").style.display = "none";
     editor.precanvas.style.transform = transform;
       editor.precanvas.style.left = '0px';
       editor.precanvas.style.top = '0px';
      editor.editor_mode = "edit";
   }

    function changeModule(event) {
      var all = document.querySelectorAll(".menu ul li");
        for (var i = 0; i < all.length; i++) {
          all[i].classList.remove('selected');
        }
      event.target.classList.add('selected');
    }

    function changeMode(option) {

    //console.log(lock.id);
      if(option == 'lock') {
        lock.style.display = 'none';
        unlock.style.display = 'block';
      } else {
        lock.style.display = 'block';
        unlock.style.display = 'none';
      }
    }

  </script>

</div>
{% endblock %}
