{% extends 'app/base.html' %}

{% block content %}
<style>
  /* Ensure header background doesn’t overlay modals or dropdowns */
  /* Keep header visible but not blocking interactivity */
  
  .page-header {
    position: relative !important;
    z-index: 2 !important;
    overflow: visible !important;
    ;
  }
  /*
   .page-header .mask {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    pointer-events: none !important; 
  } */

  

  /* Make dropdowns always appear above the header */
  .dropdown-menu {
    z-index: 2000 !important;
  }

  /* Ensure modals always appear on top */
  .modal {
    z-index: 2050 !important;
  }
</style>
<div class="container-fluid">
  <div class="card page-header min-height-250 border-radius-lg mt-4 d-flex flex-column justify-content-end">
      <span class="card mask bg-primary opacity-9"></span>
      <div class="w-100 position-relative p-3">
        <div class="d-flex justify-content-between align-items-end">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl position-relative me-3">
              <img src="{{ url_for('static', filename='img/bruce-mars.jpg') }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm"/>
            </div>
            <div>
              <h5 class="mb-1 text-white font-weight-bolder">
                {{ data.get('fnm') }} {{ data.get('lnm') }}
              </h5>
              <p class="mb-0 text-white text-sm">
                User Settings for {{ data.get('unm') }}
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                API Key Management
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" id="add-api">Generate</a>
                <a class="dropdown-item" id="reset-api">Reset</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid py-4">
  <div class="row align-items-stretch">
    <div class="col-12 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0 p-3">
          <h6 class="mb-1">Alert Contacts</h6>
        </div>
        <div class="card-body p-3">
          <div class="row" id="email-contacts">
            {% for alerts in all_alert_types.values() %}
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
              <div class="card card-blog card-plain">
                <div class="position-relative">
                  <a class="d-block">
                    <img src="{{ url_for('static', filename='img/bcl/expertise/neteng.jpg') }}" alt="img-blur-shadow"
                        class="img-fluid shadow border-radius-md"/>
                  </a>
                </div>
                <div class="card-body px-1 pb-0">
                  <p class="text-secondary mb-0 text-sm" value="{{ alerts.id }}">ID: {{ alerts.count }}</p>
                  <a >
                    <h5 class="font-weight-bolder">
                      {{ alerts.name }}
                    </h5>
                  </a>
                  <p class="mb-4 text-sm">
                    {{ alerts.type }}
                  </p>
                  <div class="d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-outline-primary btn-sm mb-0" id="del-contact">
                      Delete Contact
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
              <div class="card h-100 card-plain border">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                  <a id="add-jira">
                    <i class="fa fa-plus text-secondary mb-3"></i>
                    <h5 class=" text-secondary"> Add Jira Contact </h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
              <div class="card h-100 card-plain border">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                  <a id="add-slack">
                    <i class="fa fa-plus text-secondary mb-3"></i>
                    <h5 class=" text-secondary"> Add Slack Contact </h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alrtJiraModal" tabindex="-1" aria-labelledby="alrtJiraModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alrtJiraModalLabel">Add Jira Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="POST">
            {{ jira_alert_form.hidden_tag() }}
            <div class="form-floating mb-3">
              <label>{{ jira_alert_form.cloud_id.label }}</label>
              {{ jira_alert_form.cloud_id(class="form-control") }}
            </div>
            <div class="form-floating mb-3">
              <label>{{ jira_alert_form.email.label }}</label>
              {{ jira_alert_form.email(class="form-control") }}    
            </div>
            <div class="form-floating mb-3">
              <label>{{ jira_alert_form.auth_token.label }}</label>
              {{ jira_alert_form.auth_token(class="form-control") }}    
            </div>
            <div class="d-grid">
              {{ jira_alert_form.submit(class="btn btn-dark mb-0") }}
            </div>
          </form> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alrtSlackModal" tabindex="-1" aria-labelledby="alrtSlackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alrtSlackModalLabel">Add Slack Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="POST">
            {{ slack_alert_form.hidden_tag() }}
            <div class="form-floating mb-3">
              <label>{{ slack_alert_form.slack_token.label }}</label>
              {{ slack_alert_form.slack_token(class="form-control") }}
            </div>
            <div class="form-floating mb-3">
              <label>{{ slack_alert_form.slack_channel_id.label }}</label>
              {{ slack_alert_form.slack_channel_id(class="form-control") }}    
            </div>
            <div class="d-grid">
              {{ slack_alert_form.submit(class="btn btn-dark mb-0") }}
            </div>
          </form> 
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mntrURL = "{{ mntr_url }}";
    const addSlkBtn = document.getElementById('add-slack');
    const addJraBtn = document.getElementById('add-jira');
    const addAPIBtn = document.getElementById('add-api');
    const resetAPIBtn = document.getElementById('reset-api');

    const jiraModal = new bootstrap.Modal(document.getElementById('alrtJiraModal'));
    const slackModal = new bootstrap.Modal(document.getElementById('alrtSlackModal'));

    addAPIBtn.addEventListener('click', async function() {
      if (confirm("Generate API key?")) {
        resp = await fetch(`https://${mntrURL}/createapi?sess_id={{ auth_id }}`, {
          method: 'POST',
          credentials:"same-origin"
        });

        if (resp.ok) {
          alert("API key has been created successfully. Retrieve via OTP link sent to your registered email.");
          location.reload();
        } else {
          alert("Failed to create API key. Please try again.");
        }
   
      }
    
    });

    addSlkBtn.addEventListener('click', function() {
      slackModal.show();
    });

    addJraBtn.addEventListener('click', function() {
      jiraModal.show();
    });

    resetAPIBtn.addEventListener('click', async function() {
      if (confirm("Are you sure you want to reset your API key? This action cannot be undone.")) {
        resp = await fetch(`https://${mntrURL}/resetapi?sess_id={{ auth_id }}`, {
          method: 'POST',
          credentials:"same-origin"
        });

        if (resp.ok) {
          alert("API key has been reset successfully.");
          location.reload();
        } else {
          alert("Failed to reset API key. Please try again.");
        }
   
      }
    });

  });
</script>
{% endblock %}